<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" class="header">
    <div class="logo">
        <a th:href="@{/ui/dashboard}" class="logo-link">LinkChat</a>
    </div>
    <nav class="nav-links">
        <a th:href="@{/ui/dashboard}">Dashboard</a>
        <a th:href="@{/ui/user}">Users</a>
        <a th:href="@{/ui/chats-management}">Chats</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </nav>
</div>
</body>
</html>