<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>LinkChat Register</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
        <link rel="stylesheet" th:href="@{/styles/admin.css}"/>
    </head>
    <body>
        <div class="center" id="registerAdminContainer">
            <h1>Register New Admin</h1>
            <form th:action="@{/ui/admin-register}" method="post" th:object="${AdminRegistrationDto}">

                <!-- Username -->
                <div class="txt_field">
                    <input type="text" name="username" required>
                    <span></span>
                    <label>Username</label>
                </div>

                <!-- Email -->
                <div class="txt_field">
                    <input type="email" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>

                <!-- Password -->
                <div class="txt_field">
                    <input class="password-field" type="password" name="password" id="password" required>
                    <span></span>
                    <label>Password</label>
                    <div  class="fa-solid fa-eye toggle-password" id="toggleIcon" onclick="togglePassword()"></div>
                </div>

                <!-- Confirm Password -->
                <div class="txt_field">
                    <input class="password-field" type="password" name="confirmPassword" id="confirmPassword" required>
                    <span></span>
                    <label>Confirm Password</label>
                </div>



                <!-- Submit -->
                <input type="submit" value="Register Admin">

                <!-- Already have account -->
                <div class="pass" th:onclick="'window.location.href=\'' + @{/ui/admin-login} + '\''">Already have an account? Login</div>

            </form>
        </div>
        <script th:src="@{/js/viewPassword.js}"></script>
    </body>
</html>