<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Chats Management</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/styles/chats-management.css}"/>
</head>
<body>
<main layout:fragment="content" class="main">
    <div class="main-container">
        <div class="header-row">
            <h2>Chats Management</h2>
            <button type="button" class="new-chat-btn"
                    onclick="window.location.href='/ui/new-chat'">New Chat</button>
        </div>
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}" style="color: red; font-weight: bold;"></p>
        </div>
        <table class="chat-table" th:unless="${errorMessage}">
            <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="chat : ${chats}">
                <td class="chat-name">
                    <a th:href="'http://localhost:5173/chat/' + ${chat.link}" th:text="${chat.title}">Chat Title</a>
                </td>
                <td>
                        <span class="status-badge" th:classappend="${chat.active} ? 'active' : 'inactive'"
                              th:text="${chat.active} ? 'Active' : 'Inactive'">Status</span>
                </td>
                <td>
                    <a class="settings-button" th:href="@{'/ui/chat-settings?id=' + ${chat.chatId}}">Settings</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>