<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/new-chat.css}"/>
    <title>New Chat</title>
  </head>
  <body>
    <main layout:fragment="content" class="main">
    <div class="main-container">
      <h1>New Chat</h1>
      <form th:action="@{/ui/new-chat}" method="post">
        <div class="field-box">
          <label>Name</label>
          <input type="text" name="chat-name">
        </div>
        <div class="field-box">
          <label>Link</label>
          <input type="text" name="chat-link">
          <button type="button" name="generate-button" class="action-button primary">Generate</button>
        </div>
        <div class="field-box">
          <label>Type</label>
          <select name="chat-type" required>
            <option value="public">Public</option>
            <option value="private">Private</option>
          </select>
        </div>
        <div class="field-box">
          <label>Active</label>
          <input type="checkbox" name="chat-active">
        </div>
        <div class="field-box">
          <label>Invite (Email)</label>
          <input type="email" name="invite-email">
          <div class="secondary-button-row">
            <button type="button" name="add-invite" class="plus-minus-button primary">+</button>
            <button type="button" name="remove-invite" class="plus-minus-button danger">-</button>
          </div>
        </div>
        <div class="field-box">
          <div class="primary-button-row">
            <button type="button" name="save" class="action-button primary">Save</button>
            <button type="button" name="save-n-send" class="action-button primary">Save&Send</button>
            <div></div> <!-- This is a blank space -->
            <div></div> <!-- This is a blank space -->
            <button type="button" name="cancel" class="action-button danger"
                    th:onclick="'window.location.href=\'' + @{/ui/chats-management} + '\''">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    </main>
  </body>
</html>